# Supabase
NEXT_PUBLIC_SUPABASE_DB_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_DB_PUBLISHABLE_KEY=your-publishable-key-here

# Site URL (used for auth redirect URLs)
SITE_URL=http://localhost:3000

# Sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
